{% extends 'home/base.html' %}
{% block content %}
{% load crispy_forms_tags %}


<div class="container mt-4 pb-5">
    
    <h1 class="text-title text-center mr-5">
       Créer une mission
    </h1>
<div class="border mt-3 p-4 mb-5">
    
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <form method="POST" class="mt-5" enctype="multipart/form-data">
        {% csrf_token %}
        {{formm|crispy}}
        
        <div class="=center text-center mt-3">      
       
    
            <input  class="btn gradient-bg" type="submit" value="Créer mission" />
            
    
       
      </div>
      
    </form>
</div>
</div>
             
{% endblock content %}