{% extends 'home/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="border p-4 mb-5">
    <legend class="border-bottom pb-1 mb-3">Suppression du Mission</legend>
    <form method="POST">
        <legend class="pb-1 mb-3 mt-4">Êtes-vous sûr de vouloir supprimer "{{mission.nom}}" ?</legend>
        {% csrf_token %}
        <input class="btn btn-danger mt-3" type="submit" value="supprimer">
        <a class="btn btn-secondary mt-3 back-btn" href="{% url 'mission_detail' mission.slug %}">Retour</a>
    </form>
</div>
{% endblock content %}
