
{% extends 'home/base.html' %}
{% block title %}Reset Password Done{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h4>Rréinitialiser votre mot de passe Done</h4>
            <hr>
            <div class="alert alert-info">
                <h5>
                    Un e-mail a été envoyé à l'adresse e-mail que vous avez fournie. Il contient des instructions que vous devez suivre pour réinitialiser votre mot de passe.
                      </h5>
            </div>
           
        </div>
    </div>
</div>


{% endblock %}