

{% extends 'home/base.html' %}
{% block title %}Réinitialiser le mot de passe Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h4>Réinitialiser le mot de passe</h4>
            <br>
            <form method="POST">
                {% csrf_token %}

                {{ form|crispy }}
              
               
                <input style="background-color: #ff5a00;" class="btn btn-success " type="submit" value="Réinitialiser ">
            </form>
        </div>
    </div>
</div>


{% endblock %}